{% extends "base.html.twig" %}
{% block layout_content %}
    {% for post in posts %}
        <tr>
            <td>
                <h1>{{ post.title }}</h1>
            </td>
            <td>
                <img src="{{ vich_uploader_asset(post, 'imageFile') }}"/>
            </td>
            <td>
                <span>Crée le {{ post.created|date("d/m/Y") }}</span>
            </td>
            <td>
                <div>{{ post.body }}</div>
            </td>
            <td>
                <span>Modifié le {{ post.updated|date("d/m/Y") }}</span>
            </td>
        </tr>
    {% endfor %}
{% endblock %}