{% extends "base.html.twig" %}
{% block layout_content %}
    <h1>BLOG</h1>
    <img src="{{ vich_uploader_asset(blog, 'imageFile') }}"/>
    <h2>Crée le {{ blog.created|date("d/m/Y") }}</h2>
    <div>
        <p>{{ blog.body }}</p>
        <span>{{ blog.updated|date("d/m/Y") }}</span>
    </div>

    <div class="card mb-3">
        <h3 class="card-header">{{ blog.title }}</h3>
        <div class="card-body">
            <h5 class="card-title">Special title treatment</h5>
            <h6 class="card-subtitle text-muted">Support card subtitle</h6>
        </div>
        <img style="height: 200px; width: 100%; display: block;" src="{{ vich_uploader_asset(blog, 'imageFile') }}" alt="Card image">
        <div class="card-body">
            <p class="card-text">{{ blog.body }}</p>
        </div>
        <div class="card-footer text-muted">
            Crée le {{ blog.created|date("d/m/Y") }}
        </div>
    </div>
    <div class="card">
        <div class="card-body">
            <h4 class="card-title">Card title</h4>
            <h6 class="card-subtitle mb-2 text-muted">Card subtitle</h6>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            <a href="#" class="card-link">Card link</a>
            <a href="#" class="card-link">Another link</a>
        </div>
    </div>
{% endblock %}