{% extends "base.html.twig" %}
{% block layout_content %}
    <h1>{{ game.name }}</h1>
    <div>
        <img src="{{ vich_uploader_asset(game, 'imageFile') }}" style="height: 200px; width: 100%; display: block;">
        <p>Date de sortie: {{ game.releaseDate|date('Y') }}</p>
        <p>Resumé du jeu: {{ game.synopsis }}</p>
        <p>Règle du jeu: {{ game.rules }}</p>
        <p>Nombre de joueur: {{ game.playerNumber }}</p>
    </div>
    <h2>PARTIE BLOG</h2>
{% endblock %}