{% extends "base.html.twig" %}
{% block layout_content %}
    <h1>HOME</h1>
    <h2>Match passés</h2>
    <table>
        {% for matchs in match %}
            <tr>
                <td>
                    <a href="game/game-n1">{{ matchs.game }}</a>
                </td>
                <td>
                    <a href="team/team-n1" style="color: #5eb5e0">{{ matchs.teamA }}</a>
                </td>
                <td>
                    <span style="color: #3c763d">{{ matchs.score }}</span>
                </td>
                <td>
                    <a href="team/team-n1" style="color: #5eb5e0">{{ matchs.teamB }}</a>
                </td>
                <td>
                    <span style="color: #5eb5e0">{{ matchs.date|date("d/m/Y") }}</span>

                </td>
            </tr>
        {% endfor %}
    </table>
    <div>
        <h2>PARTIE BLOG</h2>
    </div>
    <table>
        {% for post in posts %}
            <div class="col-lg-4">
                <a href="blog/{{ post.slug }}">
                    <ul>
                        <li>
                            <img src="{{ vich_uploader_asset(post, 'imageFile') }}" style="height: 200px; display: block;"/>
                        </li>
                        <li>
                            <span>{{ post.title }}</span>
                        </li>
                        <li>
                            <span>{{ post.body }}</span>
                        </li>
                        <li>
                            <span>{{ post.created|date("d/m/Y") }}</span>
                        </li>

                    </ul>
                </a>
            </div>

        {% endfor %}
    </table>
{% endblock %}
