{% extends "base.html.twig" %}
{% block layout_content %}
    <div class="card border-dark mb-3">
        <h1>Votre profil</h1>
        <div class="card-title">{{ app.user.username }}</div>
        <p class="card-text">{{ app.user.email }}</p>
        <h4>Vos équipes favorites</h4>
        {% if app.user.teams is empty %}
            <p class="card-text">
                Vos n'avez pas encore d'équipe préférée. Vous pouvez en ajouter <a href="{{ path('all-teams') }}">ici</a>
            </p>
        {% else %}
            {% for userteam in app.user.teams %}
                <p class="card-text">
                    <a href="team/{{ userteam.slug }}">{{ userteam.name }}</a>
                </p>
            {% endfor %}
        {% endif %}
        <h4>Vos jeux favoris</h4>
        {% if app.user.games is empty %}
            <p class="card-text">
                Vos n'avez pas encore de jeu préféré. Vous pouvez en ajouter <a href="{{ path('all-games') }}">ici</a>
            </p>
        {% else %}
            {% for usergame in app.user.games %}
                <p class="card-text">
                    <a href="game/{{ usergame.slug }}">{{ usergame.name }}</a>
                </p>
            {% endfor %}
        {% endif %}
    </div>
{% endblock %}