{% extends "base.html.twig" %}
{% block layout_content %}
    <h1>{{ team.name }}</h1>
    <p class="lead">{{ team.image }}</p>
    <p class="lead">Pays: {{ team.country }}</p>
    <p class="lead">Jeu: {{ team.game }}</p>
    <p class="lead">Division: {{ team.division }}</p>
    <div>
        <h2>PARTIE BLOG</h2>
    </div>
{% endblock   %}